langchain
langchain-core
langchain-ollama
langchain_huggingface
langchain_groq
streamlit
python-dotenv
langserve
fastapi
uvicorn
sse_starlette
beautifulsoup4
pypdf
chromadb
faiss-cpu
wikipedia
arxiv
langchainhub
groq
langchain-groq
sentence_transformers